/* Olaf Willner, 2019 */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #090832;
}

a {
  text-decoration: none;
}

.global-header {
  height: 90px;
  position: relative;
  border-bottom: 1px solid #D8D8D8;
  background: #fff;
}

.menu-toggle {
  width: 90px;
  height: 89px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  background: transparent;
  margin-right: 12px;
}

.menu-hamburger {
  margin-left: 50%;
}

.menu-hamburger:before {
  top: -16px;
}

.menu-hamburger:after {
  top: 16px;
}

/* .navigation-r3 .menu-hamburger:before, .navigation-r3 .menu-hamburger:after {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg) translateY(0);
} */

.menu-hamburger {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #090832;
} 
