/* Olaf Willner, 2019 */

*,::after,::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 5vw;
  background: #fff;
  padding: 0px;
  display: inline-block;
}

.container .form {
  display: inline-block;
  align-items: center;
}

nav {
  position: relative;
  padding: 33px 0;
}

.container-two {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.titles {
  font-family: "Merriweather", sans-serif;
  position:relative;
  float:left;
  padding:0;
  margin-left:0;
  margin-top:0;
}

.titles a {
color:#090832;
font-weight:700;
font-size:32px;
letter-spacing:1px;
text-decoration:none;
}

.titles a:hover {
color:#4B4B4B;
}

.nav-wrapper {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-box-flex:1;
  flex:1 1 100%;
  text-align:right;
  position:relative;
  padding-left:20px;
}

nav ul {
align-items:center;
}

nav ul li {
display:inline-block;
position:relative;
vertical-align:middle;
}

nav ul li a {
display:inline-block;
outline:none;
color:#000;
text-transform:uppercase;
text-decoration:none;
font-size:16px;
font-weight:600;
text-decoration:none;
margin:0 20px;
}

nav ul li:not(:first-child) {
      margin-left: 36px;
}

nav ul li:last-child {
      margin-right: 24px;
}

.link {
position:relative;
display:inline-block;
outline:none;
}

.link::after {
position:absolute;
top:105%;
left:0;
width:100%;
height:2px;
background:#303155;
content:'';
opacity:0;
transition:height 0.1s,opacity 0.5s,transform 0.3s,color .3s;
}

.link:hover,.link:focus {
color:#303155;
}

.link:hover::after,.link:focus::after {
height:2px;
opacity:1;
transform:translateY(0px);
}

.group {
position:relative;
margin-bottom:45px;
display:block;
}

.form {
width: 100%;
padding-top: 5vw;
padding-right: 5vw;
padding-left: 5vw;
margin-right: auto;
margin-left: auto;
}

input {
font-size:18px;
padding:10px 10px 10px 5px;
display:block;
width:100%;
border:none;
}

input:focus {
outline:none;
}

.bar2 {
position:relative;
display:block;
width:100%;
background:#bdc3c7;
height:2px;
position:absolute;
}

.public-button {
margin-top:20px;
display:inline-block;
color:#FFF;
background-color:#090832;
border:none;
border:solid 1px #4c4c4c;
font-size:12px;
text-transform:uppercase;
text-decoration:none;
letter-spacing:1px;
font-weight:600;
padding:1.5em 2.5em;
float: left;
-webkit-transition:background-color .14s ease-out,color .14s ease-out;
-moz-transition:background-color .14s ease-out,color .14s ease-out;
-ms-transition:background-color .14s ease-out,color .14s ease-out;
-o-transition:background-color .14s ease-out,color .14s ease-out;
transition:background-color .14s ease-out,color .14s ease-out;
}

.public-button:hover {
background-color:#424A4D;
color:#FFF;
}

.public-button:focus {
outline:-webkit-focus-ring-color auto 5px;
}

label {
color:#bdc3c7;
font-size:18px;
font-weight:400;
position:absolute;
pointer-events:none;
left:5px;
top:10px;
transition:.2s ease all;
-moz-transition:.2s ease all;
-webkit-transition:.2s ease all;
}

input:focus ~ label,input:valid ~ label {
top:-20px;
font-size:14px;
color:#000;
}

.bar {
position:relative;
display:block;
width:100%;
}

.bar:before,.bar:after {
  content:"";
  height:2px;
  width:0;
  position:absolute;
  background:#000;
  transition:.2s ease all;
  -moz-transition:.2s ease all;
  -webkit-transition:.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%;
}

input:focus ~ .bar:before,input:focus ~ .bar:after {
  width:50%;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter .3s ease;
  -moz-animation:inputHighlighter .3s ease;
  animation:inputHighlighter .3s ease;
}


.heading {
  padding-bottom: 10px;
  margin:4px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  float: left;
}

.sub {
  padding-bottom: 20px;
  color:#A5A5A5;
  font-size:16px;
  float: left;
}

/* RESPONSIVE NAV */

@media screen and (max-width: 500px) {

      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }
}

#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #000;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}
