/* Olaf Willner, 2019 */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #090832;
}

a {
  text-decoration: none;
}

.global-header {
  height: 90px;
  position: relative;
  border-bottom: 1px solid #D8D8D8;
  background: #fff;
}

.menu-toggle {
  width: 90px;
  height: 89px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  background: transparent;
  margin-right: 12px;
}

.hamburger {
  top:50%;
  left:10%;
  width: 26px;
  height: 3px;
  background: #090832;
  position: absolute;
  transition: 0.5s;
  margin-left: 50%;
  transform: translateX(-50%);
}

.hamburger:before {
  top: -8px;
}

.hamburger:after {
  top: 8px;
}

.hamburger-one:before,
.hamburger-one:after {
  content: '';
  position:absolute;
  width: 26px;
  height: 3px;
  background:#090832;
  transition:0.5s;
}
